name: Publish Android Release

on:
  push:
    tags:
      - 'v*' # 监听 v 开头的 tag

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write # 必须有写权限

    steps:
      - uses: actions/checkout@v4

      - name: Extract Version
        run: |
          # 从 v1.0.2 提取 1.0.2
          echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
          echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Generate latest.json
        run: |
          # 构造下载链接
          APK_URL="https://github.com/${{ github.repository }}/releases/download/${{ env.TAG_NAME }}/android_arm.apk"
          
          # 生成 JSON
          cat <<EOF > latest.json
          {
            "version": "${{ env.VERSION }}",
            "notes": "Update for ${{ env.TAG_NAME }}",
            "pub_date": "$(date -u +"%Y-%m-%dT%H:%M:%SZ")",
            "android": {
               "version": "${{ env.VERSION }}",
               "url": "$APK_URL"
            }
          }
          EOF

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            latest.json
            release/android_arm.apk
          draft: false
          prerelease: false